

<div *ngFor="let date of factura ">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Factura
      </mat-panel-title>
      <mat-panel-description>
          comApp
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <mat-tab label="Datos">

        <table class="table table-light">
          <thead>
            <tr>
              <th>ID Pedido</th>
              <th>Mesa</th>
              <th>Fecha y Hora</th>
              <th>Precio Total</th>
            </tr>
          </thead>
          <tbody >
            <tr>
              <td>{{date.id_pedido}}</td>
              <td>{{date.id_mesa}}</td>
              <td>{{date.fechaHora|date:'medium'}}</td>
              <td>{{date.precio_total | puntoMil}}</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
      <mat-tab label="Datos del cliente">

        <table class="table table-light">
          <thead>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Correo</th>
          </thead>
          <tbody>
            <tr *ngFor="let date1 of date.cliente">
              <td>{{date1.nombre}}</td>
              <td>{{date1.documento}}</td>
              <td>{{date1.telefono}}</td>
              <td>{{date1.correo}}</td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
      <mat-tab label="Informacion del pedido">

        <table class="table table-light">
          <thead>
            <th>Id del platillo</th>
            <th>Cantidad por unidad</th>
            <th style="margin: auto; text-align: center;">Información del platillo</th>
          </thead>
          <tbody>
            <tr *ngFor="let date2 of date.detalle_pedido">
              <td>{{date2.id_platillo}}</td>
              <td>{{date2.platillo_cantidad}}</td>
              <td>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ver mas
                    </mat-panel-title>
                    <mat-panel-description>
                        ...
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table style="width: 100%; background-color: inherit;">
                    <thead>
                      <th>Platillo</th>
                      <th>Descripción</th>
                      <th>Tipo</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let date3 of date2.detalle_platillo">
                        <td>{{date3.platillo}}</td>
                        <td>{{date3.descripcion}}</td>
                        <td>{{date3.tipo}}</td>
                      </tr>
                    </tbody>
                  </table>
                </mat-expansion-panel>


              </td>
            </tr>
          </tbody>
        </table>

      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</div>


