<app-listar-menu style="display: none;"></app-listar-menu>


<div class="tabla">
  <div class="card-body">
    <table class="table table-light">
      <thead>
        <th scope="col">Platillo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">N* Mesa</th>
        <th scope="col">Eliminar</th>
      </thead>
      <tbody>
        <tr *ngFor = "let menu of carritoArray">

          <td>{{menu.platillo}}</td>
          <td>{{menu.descripcion}}</td>
          <td>{{menu.precio_unitario}}</td>
          <td>{{menu.id_mesa}}</td>
          <td><button type="button" class="pedir btn btn-danger" style="float: center;" (click)="eliminar(menu)">Eliminar</button></td>
        </tr>
        <tr >
          <td></td>
          <td><H3>Precio Total:</H3> </td>
          <td><H3>{{precio_total}}</H3></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>ComApp</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>



<div class="btn-group" role="group" aria-label="" style="display: flex; width: auto;">
  <button mat-button (click)="aceptar()" type="button" class="btn btn-success">Aceptar</button>
  <button (click)="rechazar()" type="button" class="btn btn-danger">Rechazar</button>
</div>



