<app-listar-menu style="display: none;"></app-listar-menu>


    <table class="table table-dark" >
      <thead>
        <th scope="col">Platillo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Eliminar</th>
      </thead>
      <tbody>
        <tr *ngFor = "let menu of carritoArray">

          <td>{{menu.platillo}}</td>
          <td>{{menu.descripcion}}</td>
          <td>$ {{menu.precio_unitario | puntoMil}}</td>
          <td><button [disabled]="validacion" type="button" class="pedir btn btn-danger" style="float: center;" (click)="eliminar(menu)">Eliminar</button></td>
        </tr>
        <tr >
          <td></td>
          <td><H3>Precio Total:</H3> </td>
          <td><H3>$ {{precio_total | puntoMil}}</H3></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!load " class="spinner-border text-primary" role="status">
      <span class="sr-only">Cargando...</span>
    </div>


<div *ngIf="formCliente" class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Ingresa tus datos para la factura</h5>
    <div class="row" [formGroup]="form">
      <div class="col">
        <label for="basic-url" class="form-label">Nombre</label>
        <div class="input-group mb-3">
          <input type="text" formControlName="nombre" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div class="container-error-message" *ngIf="nombre.errors.required">
              el nombre es requerido.
            </div>
          </div>
        </div>

        <label for="basic-url" class="form-label">N° Documento</label>
        <div class="input-group mb-3">
          <input type="text" formControlName="documento" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <!-- <div class="alert-danger" *ngIf="documento.invalid && (documento.dirty || documento.touched)">
            <div class="container-error-message" *ngIf="documento.errors.required">
              el N° de documento es requerido.
            </div> -->
        </div>

      </div>
      <div class="col">
        <label for="basic-url" class="form-label">Teléfono</label>
        <div class="input-group mb-3">
          <input type="text" formControlName="telefono" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <!-- <div class="alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <div class="container-error-message" *ngIf="telefono.errors.required">
              el numero de telefono es requerido.
            </div>
          </div> -->
        </div>

        <label for="basic-url" class="form-label">Correo</label>
        <div class="input-group mb-3">
          <input type="email" formControlName="correo" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <div class="alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
            <div class="container-error-message" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
              el correo es requerido.
            </div>
          <div class="container-error-message" *ngIf="(correo.dirty || correo.touched) && correo.invalid && correo.errors.pattern">
            ingrese un correo válido.
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="aceptarForm()" [disabled]="!(form.valid)" class="btn btn-success">Aceptar</button>
        <button (click)="cerrarForm()" class="btn btn-danger ml-4">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!formCliente" class="btn-group" role="group" aria-label="Basic mixed styles example" style="display: flex;">
  <button mat-button (click)="abrirForm()" [disabled]="validacion"  type="button" class="btn btn-success" style="font-size: xx-large; padding: 1rem;">Aceptar</button>
  <button (click)="rechazar()" [disabled]="validacion" type="button" class="btn btn-danger" style="font-size: xx-large; padding: 1rem;">Rechazar</button>
</div>


