.body{
  align-items: center;

}

.alert-danger {
  color: red;
  font-size: 20px;
  background: transparent;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}

.container-error-message {
  padding: 3px;
}

table {
  width: 100%;
}

tr.mat-header-row{
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-column {
  flex: 0 0 100px;
}


