  <li  *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
  <button type="button" mat-button class="" class="botonnav" [routerLink]= "['/']">Menu</button>
  </li>
<hr>
    <li  *ngIf="(auth.isstaff() | async)" class="nav-item">
    <button type="button" mat-button class="botonnav" [routerLink]= "['/facturas']">Pedidos</button>
    </li>
<hr>
    <li  *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
    <button type="button" mat-button  class="botonnav" [routerLink]= "['/login']">Iniciar Sesion </button>
    </li>
<hr>
    <li  *ngIf="(auth.isadmin() | async)" class="nav-item">
    <button type="button" mat-button class="botonnav" [routerLink]= "['/register']">Registrar Roles </button>
    </li>
<hr>
  <li  *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
  <button type="button" mat-button class="botonnav" [routerLink]= "['/carrito']">Carrito</button>
  </li>
<hr>
    <li  *ngIf="(auth.isadmin() | async)" class="nav-item">
    <button type="button" mat-button class="botonnav" [routerLink]= "['/crearMenu']">CrudMenu</button>
    </li>
<hr>
    <li  *ngIf="(auth.ismanage() | async)" class="nav-item">
    <button type="button" mat-button class="botonnav" [routerLink]= "['/mandarMenu']">Solicitud de cambio</button>
    </li>
<hr>

      <button type="button" mat-button class="botonnav" [routerLink]= "['/']" (click)="auth.logout()">Salir</button>

<hr>
      <li  *ngIf="(auth.isadmin() | async)" class="nav-item">
      <button type="button" mat-button class="botonnav" [routerLink]= "['/qrcode']">Qr</button>
      </li>

