    <button type="button" mat-button class="" class="botonnav" [routerLink]= "['/']">Menu</button>
<hr>
  <button type="button" mat-button class="botonnav" [routerLink]= "['/facturas']">Pedidos</button>
<hr>
  <div *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
    <button type="button" mat-button  class="botonnav" [routerLink]= "['/login']">Iniciar Sesion </button>
  </div>
<hr>
  <div *ngIf="!(auth.isLoggedIn() | async)" class="nav-item">
    <button type="button" mat-button class="botonnav" [routerLink]= "['/register']">Registrarse </button>
  </div>
<hr>
  <button type="button" mat-button class="botonnav" [routerLink]= "['/carrito']">Carrito</button>
<hr>
  <div *ngIf="auth.isAdmin()| async" class="nav-item">
    <button type="button" mat-button class="botonnav" [routerLink]= "['/crearMenu']">CrudMenu</button>
  </div>
<hr>

    <div *ngIf="auth.isLoggedIn() | async" class="nav-item">
      <button type="button" mat-button class="botonnav" [routerLink]= "['/login']" (click)="auth.logout()">Salir</button>
    </div>
<hr>
    <div *ngIf="auth.isLoggedIn() | async" >
      <button type="button" mat-button class="botonnav" [routerLink]= "['/qrcode']">Qr</button>
    </div>
