<mat-tab-group mat-align-tabs="center" animationDuration="0ms" style="width: 100%;">
  <mat-tab label="Formulario de petición para agregar" >
    <div class="container">
      <div class="row justify-content-center">
      <div *ngIf="!load" role="status">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    </div>

    <div *ngIf="load" style="width: 100%; padding: 15px; text-align: center;">
      <div class="row">
          <div class="container">
            <mat-card-title>Ingrese un nuevo platillo para enviar la peticion de agregar</mat-card-title>
<hr>
          <form [formGroup]="form" >
          <div class="form-group" style="width: 100%;">
            <input type="number" formControlName="id_platillo" [(ngModel)]="selectedMenu.id_platillo " class="form-control" placeholder="Ingrese el id del platillo" required />

            <div class="alert-danger" *ngIf="id_platillo.invalid && (id_platillo.dirty || id_platillo.touched)">
              <div class="container-error-message" *ngIf="id_platillo.errors.required">
                el id es requerido.
              </div>
            </div>

          </div>
          <div class="form-group">
            <input type="text" formControlName="nombre_platillo" [(ngModel)]="selectedMenu.platillo" class="form-control" placeholder="Ingrese el nombre del platillo" required/>

            <div class="alert-danger" *ngIf="nombre_platillo.invalid && (nombre_platillo.dirty || nombre_platillo.touched)">
              <div class="container-error-message" *ngIf="nombre_platillo.errors.required">
                el nombre es requerido.
              </div>
            </div>

          </div>
          <div class="form-group">
            <input type="text" formControlName="descripcion_platillo" [(ngModel)]="selectedMenu.descripcion" class="form-control" placeholder="Ingrese la descripción del platillo" required/>

            <div class="alert-danger" *ngIf="descripcion_platillo.invalid && (descripcion_platillo.dirty || descripcion_platillo.touched)">
              <div class="container-error-message" *ngIf="descripcion_platillo.errors.required">
                la descripcion es requerida.
              </div>
            </div>

          </div>
          <div class="form-group">
            <input type="text" formControlName="precio_unitario" [(ngModel)]="selectedMenu.precio_unitario" class="form-control" placeholder="Ingrese el precio del platillo" required/>

            <div class="alert-danger" *ngIf="precio_unitario.invalid && (precio_unitario.dirty || precio_unitario.touched)">
              <div class="container-error-message" *ngIf="precio_unitario.errors.required">
                el precio es requerido.
              </div>
            </div>

          </div>
          <div class="form-group">
            <input type="text" formControlName="tipo_platillo" [(ngModel)]="selectedMenu.tipo" class="form-control" placeholder="Ingrese el tipo de platillo" required/>

            <div class="alert-danger" *ngIf="tipo_platillo.invalid && (tipo_platillo.dirty || tipo_platillo.touched)">
              <div class="container-error-message" *ngIf="tipo_platillo.errors.required">
                el tipo es requerido.
              </div>
            </div>
<br>
            <div class="form-group">
              <input type="file" #seleccionar_imagen (change)="log($event)" style="visibility:hidden"/>
              <button mat-raised-button color="acent" style=" font-size: large;  position: relative; left: 25%;" (click)="seleccionar_imagen.click()" type="button">
                Seleccionar imagen
              </button>
            </div>

            <img *ngIf="imgMostrar" [src]="imgMostrar" width="400px" height="400px">

          </div>
          <div class="form-group">
            <button mat-raised-button color="primary" style=" font-size: x-large; " [disabled]="!(form.valid)" (click)="guardar()">
              Enviar
            </button>
            <button mat-raised-button></button>
            <button mat-raised-button color="warn" style="font-size: x-large; " (click)="nuevo()">
              Limpiar Formulario
            </button>
          </div>
        </form>
        </div>
      </div>
      </div>
  </mat-tab>



  <mat-tab label="Formulario de petición para editar">
    <div class="container">
      <div class="row justify-content-center">
      <div *ngIf="!load" role="status">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    </div>
    <div *ngIf="load" style="width: 100%; padding: 15px; text-align: center;">
      <div class="row">
          <div class="container">
            <mat-card-title>Seleccione un platillo del menú y edite sus campos, oprima enviar cuando ya esté listo</mat-card-title>
<hr>
          <form [formGroup]="form" >
          <div class="form-group">
            <input placeholder="Id platillo" type="number" formControlName="id_platillo" *ngIf = "formEditar == false" [(ngModel)]="selectedMenu.id_platillo" class="form-control" required/>
            <div class="alert-danger" *ngIf="id_platillo.invalid && (id_platillo.dirty || id_platillo.touched)">
              <div class="container-error-message" *ngIf="id_platillo.errors.required">
                el id es requerido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="Platillo" type="text" formControlName="nombre_platillo" [(ngModel)]="selectedMenu.platillo" class="form-control" required/>
            <div class="alert-danger" *ngIf="nombre_platillo.invalid && (nombre_platillo.dirty || nombre_platillo.touched)">
              <div class="container-error-message" *ngIf="nombre_platillo.errors.required">
                el nombre es requerido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="Descripción" type="text" formControlName="descripcion_platillo" [(ngModel)]="selectedMenu.descripcion" class="form-control" required/>
            <div class="alert-danger" *ngIf="descripcion_platillo.invalid && (descripcion_platillo.dirty || descripcion_platillo.touched)">
              <div class="container-error-message" *ngIf="descripcion_platillo.errors.required">
                el descripcion es requerido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="Precio" type="text" formControlName="precio_unitario" [(ngModel)]="selectedMenu.precio_unitario" class="form-control" required/>
            <div class="alert-danger" *ngIf="precio_unitario.invalid && (precio_unitario.dirty || precio_unitario.touched)">
              <div class="container-error-message" *ngIf="precio_unitario.errors.required">
                el precio es requerido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="Tipo" type="text" formControlName="tipo_platillo" [(ngModel)]="selectedMenu.tipo" class="form-control" required/>
            <div class="alert-danger" *ngIf="tipo_platillo.invalid && (tipo_platillo.dirty || tipo_platillo.touched)">
              <div class="container-error-message" *ngIf="tipo_platillo.errors.required">
                el tipo es requerido.
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="file" #seleccionar_imagen2 (change)="log2($event)" style="visibility:hidden"/>
              <button mat-raised-button color="acent" style=" font-size: large; position: relative; left: 25%;" (click)="seleccionar_imagen2.click()" type="button" >
                Seleccionar imagen
              </button>
          </div>

          <img *ngIf="selectedMenu.img" [src]="selectedMenu.img" width="400" height="300">

          <div class="form-group">
            <button mat-raised-button color="primary" style="font-size: x-large; " [disabled]="!(form.valid)" (click)="editar()">
              Enviar
            </button>
            <button mat-raised-button></button>
            <button mat-raised-button color="warn" style="font-size: x-large; " (click)="nuevo()">
              Limpiar Formulario
            </button>
          </div>
        </form>
        </div>
      </div>
      <hr>

      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="menuArray" style="width: 100%;">


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef ><div style="font-size: large; color:#f3b324">ID</div>  </th>
            <td mat-cell *matCellDef="let menu"> {{menu.id_platillo}} </td>
          </ng-container>


          <ng-container matColumnDef="platillo">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Platillo</div>  </th>
            <td mat-cell *matCellDef="let menu"> {{menu.platillo}} </td>
          </ng-container>


          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Descripcion</div>  </th>
            <td mat-cell *matCellDef="let menu"> {{menu.descripcion}} </td>
          </ng-container>


          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Precio</div>  </th>
            <td mat-cell *matCellDef="let menu">$ {{menu.precio_unitario | puntoMil}} </td>
          </ng-container>


          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Tipo</div>  </th>
            <td mat-cell *matCellDef="let menu"> {{menu.descripcion}} </td>
          </ng-container>


          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Imagen</div>  </th>
            <td mat-cell *matCellDef="let menu"><img [src]="menu.img" width="40px" height="40px"></td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Edit</div>  </th>
            <td mat-cell *matCellDef="let menu"><button mat-icon-button color="primary" (click)= "seleccionar(menu)"><mat-icon>create</mat-icon></button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr mat-row

          *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
</div>
</mat-tab>



  <mat-tab label="Formulario de petición para eliminar">
    <div class="container">
      <div class="row justify-content-center">
      <div *ngIf="!load" role="status">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    </div>
    <div *ngIf="load" style="width: 100%;  padding: 15px; align-items:center;">
      <div class="example-container">
        <table mat-table [dataSource]="menuArray" style="width: 100%;">


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef > <div style="font-size: large; color:#f3b324">ID.</div> </th>
            <td mat-cell *matCellDef="let menu"> {{menu.id_platillo}} </td>
          </ng-container>


          <ng-container matColumnDef="platillo">
            <th mat-header-cell *matHeaderCellDef><div style="font-size: large; color:#f3b324">Platillo</div>  </th>
            <td mat-cell *matCellDef="let menu"> {{menu.platillo}} </td>
          </ng-container>


          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> <div style="font-size: large; color:#f3b324">Descripcion</div> </th>
            <td mat-cell *matCellDef="let menu"> {{menu.descripcion}} </td>
          </ng-container>


          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> <div style="font-size: large; color:#f3b324">Precio</div> </th>
            <td mat-cell *matCellDef="let menu">$ {{menu.precio_unitario | puntoMil}} </td>
          </ng-container>


          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> <div style="font-size: large; color:#f3b324">Tipo</div> </th>
            <td mat-cell *matCellDef="let menu"> {{menu.descripcion}} </td>
          </ng-container>


          <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef> <div style="font-size: large; color:#f3b324">Imagen</div> </th>
            <td mat-cell *matCellDef="let menu"><img [src]="menu.img" width="40px" height="40px"></td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> <div style="font-size: large; color:#f3b324">Eliminar</div> </th>
            <td mat-cell *matCellDef="let menu"><button mat-icon-button color="warn" type="button" (click)="eliminar(menu)"><mat-icon>delete_forever</mat-icon></button></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
          <tr mat-row

          *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
      </div>
      </mat-tab>
  <mat-tab label="Formulario de contacto">
    <div class="container">
      <div class="row justify-content-center">
      <div *ngIf="!load" role="status">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    </div>
    <div *ngIf="load" class="container" style="width: 100%; padding: 15px;">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm" style="text-align: center;">
                  <form class="form-horizontal" method="post" [formGroup]="fromContacto" >
                      <fieldset>
                          <mat-card-title>Contáctanos</mat-card-title>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="fname" name="name" type="text" formControlName="asunto" placeholder="Asunto del correo" class="form-control" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="lname" name="name" type="text" formControlName="nombre" placeholder="Nombre" class="form-control" required>
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="email" name="email" type="text" formControlName="correo" placeholder="Correo" class="form-control" required>
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="phone" name="phone" type="text" formControlName="telefono" placeholder="Teléfono" class="form-control" required>
                              </div>
                          </div>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                              <div class="col-md-8">
                                  <textarea class="form-control" id="message" name="message" formControlName="descripcion" placeholder="Escribe detalladamente que solicitud requieres y nos pondremos en contacto contigo para darte solución" rows="7"></textarea>
                              </div>
                          </div>

                          <div class="form-group">
                            <button mat-raised-button color="primary" style=" font-size: x-large; " [disabled]="!(fromContacto.valid)" (click)="contacto()">
                              Enviar
                            </button>
                            <button mat-raised-button></button>

                          </div>

                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

