
<body>

<div class="example-container" >
  <div class="card-title" style="font-size: x-large;">
    Formulario de acción
  </div>
  <form [formGroup]="form" >
  <div class="form-group">
    <input type="text" formControlName="id_platillo" [(ngModel)]="selectedMenu.id_platillo" class="form-control" placeholder="Ingrese el id del platillo"/>
  </div>
  <div class="form-group">
    <input type="text" formControlName="nombre_platillo" [(ngModel)]="selectedMenu.platillo" class="form-control" placeholder="Ingrese el nombre del platillo"/>
  </div>
  <div class="form-group">
    <input type="text" formControlName="descripcion_platillo" [(ngModel)]="selectedMenu.descripcion" class="form-control" placeholder="Ingrese la descripcion del platillo"/>
  </div>
  <div class="form-group">
    <input type="text" formControlName="precio_unitario" [(ngModel)]="selectedMenu.precio_unitario" class="form-control" placeholder="Ingrese el precio del platillo"/>
  </div>
  <div class="form-group">
    <input type="text" formControlName="tipo_platillo" [(ngModel)]="selectedMenu.tipo" class="form-control" placeholder="Ingrese el tipo de platillo"/>
  </div>

  <div class="form-group">
    <input type="file" #seleccionar_imagen (change)="log($event)" style="visibility:hidden"/>
    <button (click)="seleccionar_imagen.click()" type="button" class="btn btn-primary">
      Seleccionar imagen
    </button>
  </div>

  <img *ngIf="imgMostrar||selectedMenu.img" [src]="imgMostrar||selectedMenu.img" width="400px" height="300px">

  <div class="form-group">
    <button class="btn-danger" style="margin-left: 2px; margin-right: 2px;" (click)="nuevo()">
      Limpiar
    </button>
    <button class="btn-primary" style="margin-left: 2px; margin-right: 2px;" (click)="guardar()">
      Guardar
    </button>
    <button class="btn-info" style="margin-left: 2px; margin-right: 2px;" (click)="editar()">
      Editar
    </button>
    <button class="btn-dark" style="margin-left: 2px; margin-right: 2px;" (click)="eliminar()">
      Eliminar
    </button>
  </div>
</form>
</div>


      <table class="table table-light">
        <thead>
          <th scope="col">Id</th>
          <th scope="col">Platillo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Tipo</th>
          <th scope="col">Imagen</th>
        </thead>
        <tbody>
          <tr *ngFor = "let menu of menuArray"
          (click)="seleccionar(menu)"
          [class.active] = "menu == selectedMenu">
            <td>{{menu.id_platillo}}</td>
            <td>{{menu.platillo}}</td>
            <td>{{menu.descripcion}}</td>
            <td>$ {{menu.precio_unitario | puntoMil}}</td>
            <td>{{menu.tipo}}</td>
            <td><img [src]="menu.img" width="40px" height="40px"></td>
          </tr>
        </tbody>
      </table>

</body>

