<app-navbar></app-navbar>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello_Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
<div class="div card" style="width: 500px; text-align:center; margin: auto;">
  <div class="car-body">
    <div class="card-title">
      Ingrese un nuevo platillo
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedMenu.id_platillo" class="form-control" placeholder="Ingrese el id del platillo"/>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedMenu.platillo" class="form-control" placeholder="Ingrese el nombre del platillo"/>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedMenu.descripcion" class="form-control" placeholder="Ingrese la descripcion del platillo"/>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedMenu.precio_unitario" class="form-control" placeholder="Ingrese el precio del platillo"/>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="selectedMenu.tipo" class="form-control" placeholder="Ingrese el tipo de platillo"/>
    </div>
    <div class="form-group">
      <button class="btn-primary" (click)="guardar()">
        Guardar
      </button>
      <button class="btn-danger" (click)="nuevo()">
        Nuevo
      </button>
    </div>
  </div>
</div>

<div class="div card">
  <div class="card-body">
    <table class="table table-light">
      <thead>
        <th scope="col">id</th>
        <th scope="col">Platillo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">tipo</th>
      </thead>
      <tbody>
        <tr *ngFor = "let menu of menuArray"
        (click)="seleccionar(menu)"
        [class.active] = "menu == selectedMenu">
          <td>{{menu.id_platillo}}</td>
          <td>{{menu.platillo}}</td>
          <td>{{menu.descripcion}}</td>
          <td>{{menu.precio_unitario}}</td>
          <td>{{menu.tipo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

