<div class="container">
  <div class="row justify-content-center">
      <div class="login-wrap py-5">
<!-- <div *ngIf="load" class="divdatos"> -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" >
  <div class="form-group">
      <label for="exampleInputEmail1">N° de mesa</label>
      <input formControlName="id_mesa" type="text" class="form-control">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Nombre</label>
    <input formControlName="nombre" type="text" class="form-control" >
  </div>
  <br>
    <button type="submit" class="btn btn-warning" style="font-weight: bold;">Generar Código</button>
</form>
    <br>
    <img [src]="image">
</div>
</div>
</div>

  <h5 *ngIf="cargando">Cargando...</h5>
