
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class=" border-right" id="sidebar-wrapper" style="  background-color: #1c1c1c; ">
    <div class="sidebar-heading" style="color: #f3b324; font-size: 50px;">ComApp </div>
    <div class="list-group list-group-flush">

      <br>
      <app-navbar></app-navbar>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div style="background-color: #1c1c1c; " id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light  border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Opciones</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapperr -->
</div>
<!-- /#wrapper -->
