<div class="container">
  <h1>Pedidos</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Numero de la mesa" [(ngModel)]="filterPost">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>id_platillo</th>
            <th>Platillo</th>
            <th>Descripcion</th>
            <th>precio_unitario</th>
            <th>Tipo</th>
            <th>Mesa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let PersonalCocina of facturasArray | filter:filterPost ">
            <td>{{PersonalCocina.id_platillo}}</td>
            <td>{{PersonalCocina.platillo}}</td>
            <td>{{PersonalCocina.descripcion}}</td>
            <td>{{PersonalCocina.precio_unitario}}</td>
            <td>{{PersonalCocina.tipo}}</td>
            <td>{{PersonalCocina.id_mesa}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
